# General
*.log
*.tmp
*.cache
*.bak

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories and files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# CMake specific
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/CMakeOutput.log
**/CMakeError.log
**/compile_commands.json
**/Testing/

# Visual Studio specific
**/.vs/
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.suo
**/*.user
**/*.userosscache
**/*.usertask
**/*.sln
**/*.ipch
**/*.ncb
**/*.db
**/*.opendb
**/*.opensdf
**/*.sdf
**/*.VC.db
**/*.VC.opendb

# Visual Studio Code workspace settings
.vscode/
*.code-workspace

# Debug and Release directories
Debug/
Release/

# Temporary and intermediate files
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.iobj
*.ipdb
*.res
*.rsp
*.tlb
*.tli
*.tlh

# Windows Thumbnail database files
Thumbs.db
ehthumbs.db
